:root {
    --theme-blue: #69c0ff;
    --dark-blue: #096dd9;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 50px;
}

.logo {
    height: 50px;
    width: 50px
}

.menu {
    display: flex;
    &__item {
        text-decoration: none;
        margin-right: 20px;
        font-size: 18px;
        color: #282828;
    }
    &__item:hover {
        color: var(--dark-blue);
    }
    &__item_active {
        color: var(--theme-blue);
    }
}

.introduction {
    background: url("assets/background.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    min-height: 648px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-weight: 800;
        font-size: 4em;
        color: white;
    }

    &__motto {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 1.5em;
        color: white;
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;

    &__second-button-wrapper {
        margin-left: 20px;
    }
}

.button {
    cursor: pointer;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;

    &_blue {
        color: #fff;
        background: var(--theme-blue);
        border: 4px solid var(--theme-blue);
    }

    &_secondary_white {
        color: #fff;
        background: transparent;
        border: 4px solid #fff;
    }

    &_secondary_blue {
        color: var(--theme-blue);
        background: transparent;
        border: 4px solid var(--theme-blue);
    }
}
.charity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: #282828;
        font-weight: 600;
        font-size: 2em;
        margin-top: 20px;
    }
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__image {
        width: 400px;
        max-width: 400px;
        object-fit: cover;
        height: 400px
    }

    &__text-wrapper {
        margin: 10px;
    }
}

.common-text {
    width: 400px;
    color: #282828;
    font-size: 18px;
    text-align: center;
}

